{
  "openapi": "3.0.3",
  "info": {
    "title": "Pocketify API",
    "description": "API for Pocketify",
    "contact": {
      "name": "Muhammad Fathurraihan Saputra | Easti Damayanti | Nidzhom Akmal",
      "url": "https://github.com/pocketify-web-app"
    },
    "version": "1.0"
  },
  "servers": [{ "url": "https://api.pocketify.com/v1", "description": "Main Server" }],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "User"
    },
    {
      "name": "Transaction"
    },
    {
      "name": "Category"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "summary": "Login API",
        "description": "Login API for Users",
        "tags": ["Auth"],
        "requestBody": {
          "description": "Login request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email of the user",
                    "example": "nVtYh@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password of the user",
                    "example": "password123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "Status code",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "description": "Message of the response",
                      "example": "Login Success"
                    },
                    "data": {
                      "type": "object",
                      "description": "Data of the response",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID of the user (UUID)",
                          "example": "18c167b1-ca36-47f7-aa13-dad809094cab"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the user",
                          "example": "Nidzhom Akmal"
                        },
                        "email": {
                          "type": "string",
                          "description": "Email of the user",
                          "example": "nVtYh@example.com"
                        },
                        "token": {
                          "type": "string",
                          "description": "Token of the user",
                          "example": "token123"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Login Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "Status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "Message of the response",
                      "example": "Login Failed"
                    },
                    "errors": {
                      "type": "string",
                      "description": "Errors type of the response",
                      "example": "Invalid email or password"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "summary": "Register API",
        "description": "Register API for Users",
        "tags": ["Auth"],
        "requestBody": {
          "description": "Register request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email of the user",
                    "example": "nVtYh@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password of the user",
                    "example": "password123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Register Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "Status code",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "description": "Message of the response",
                      "example": "Register Success"
                    },
                    "data": {
                      "type": "object",
                      "description": "Data of the response",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID of the user (UUID)",
                          "example": "18c167b1-ca36-47f7-aa13-dad809094cab"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the user",
                          "example": "Guest#1"
                        },
                        "email": {
                          "type": "string",
                          "description": "Email of the user",
                          "example": "nVtYh@example.com"
                        },
                        "password": {
                          "type": "string",
                          "description": "Password of the user",
                          "example": "password123"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Register Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "Status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "Message of the response",
                      "example": "Register Failed"
                    },
                    "errors": {
                      "type": "string",
                      "description": "Errors type of the response",
                      "example": "User already exists"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}": {
      "get": {
        "summary": "Get User API",
        "description": "Get User API for Users",
        "tags": ["User"],
        "responses": {}
      },
      "patch": {
        "summary": "Update User API",
        "description": "Update User API for Users",
        "tags": ["User"],
        "responses": {}
      },
      "delete": {
        "summary": "Delete User API",
        "description": "Delete User API for Users",
        "tags": ["User"],
        "responses": {}
      }
    },
    "/api/users/{id}/transactions": {
      "get": {
        "summary": "Get Transactions API",
        "description": "Get Transactions API for Users",
        "tags": ["Transaction"],
        "responses": {}
      },
      "post": {
        "summary": "Create Transaction API",
        "description": "Create Transaction API for Users",
        "tags": ["Transaction"],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {
      "users": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Nidzhom Akmal"
          },
          "email": {
            "type": "string",
            "example": "nVtYh@example.com"
          },
          "password": {
            "type": "string",
            "example": "password123"
          }
        }
      }
    }
  }
}
